<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hk.culture.mini.program.mapping.DateresourceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hk.culture.mini.program.entity.Dateresource">
        <id column="TID" property="tid" />
        <result column="dateTime" property="dateTime" />
        <result column="resourceName" property="resourceName" />
        <result column="resourceTid" property="resourceTid" />
        <result column="resourceDetail" property="resourceDetail" />
        <result column="image" property="image" />
        <result column="video" property="video" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        TID, dateTime, resourceName, resourceTid, resourceDetail, image, video
    </sql>

</mapper>
