<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hk.culture.mini.program.mapping.InventoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hk.culture.mini.program.entity.Inventory">
        <id column="TID" property="tid" />
        <result column="createTime" property="createTime" />
        <result column="createBy" property="createBy" />
        <result column="lastModifyBy" property="lastModifyBy" />
        <result column="lastModifyTime" property="lastModifyTime" />
        <result column="oprateTime" property="oprateTime" />
        <result column="oprateServiceTime" property="oprateServiceTime" />
        <result column="productState" property="productState" />
        <result column="oprateType" property="oprateType" />
        <result column="depot_id" property="depotId" />
        <result column="remark" property="remark" />
        <result column="getDate" property="getDate" />
        <result column="ecpCode" property="ecpCode" />
        <result column="state" property="state" />
        <result column="sequence" property="sequence" />
        <result column="checkPrice" property="checkPrice" />
        <result column="origin" property="origin" />
        <result column="ownDep" property="ownDep" />
        <result column="responsible" property="responsible" />
        <result column="typeForSearch" property="typeForSearch" />
        <result column="depotTid" property="depotTid" />
        <result column="name" property="name" />
        <result column="model" property="model" />
        <result column="count" property="count" />
        <result column="remarks" property="remarks" />
        <result column="oldCount" property="oldCount" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        TID, createTime, createBy, lastModifyBy, lastModifyTime, oprateTime, oprateServiceTime, productState, oprateType, depot_id, remark, getDate, ecpCode, state, sequence, checkPrice, origin, ownDep, responsible, typeForSearch, depotTid, name, model, count, remarks, oldCount
    </sql>

</mapper>
