<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hk.culture.mini.program.mapping.MembercounttableMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hk.culture.mini.program.entity.Membercounttable">
        <id column="TID" property="tid" />
        <result column="memberTid" property="memberTid" />
        <result column="change" property="change" />
        <result column="remarks" property="remarks" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        TID, memberTid, change, remarks
    </sql>

</mapper>
