<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hk.culture.mini.program.mapping.OnlineshowMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hk.culture.mini.program.entity.Onlineshow">
        <id column="TID" property="tid" />
        <result column="startMan" property="startMan" />
        <result column="startTime" property="startTime" />
        <result column="insertTime" property="insertTime" />
        <result column="showName" property="showName" />
        <result column="title" property="title" />
        <result column="state" property="state" />
        <result column="process" property="process" />
        <result column="endTime" property="endTime" />
        <result column="readCount" property="readCount" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        TID, startMan, startTime, insertTime, showName, title, state, process, endTime, readCount
    </sql>

</mapper>
