<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hk.culture.mini.program.mapping.ProcesslistMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hk.culture.mini.program.entity.Processlist">
        <id column="TID" property="tid" />
        <result column="dep" property="dep" />
        <result column="groupTid" property="groupTid" />
        <result column="processIndex" property="processIndex" />
        <result column="lastTid" property="lastTid" />
        <result column="nextTid" property="nextTid" />
        <result column="approval" property="approval" />
        <result column="forOldTID" property="forOldTID" />
        <result column="sequence" property="sequence" />
        <result column="positionX" property="positionX" />
        <result column="positionY" property="positionY" />
        <result column="name" property="name" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        TID, dep, groupTid, processIndex, lastTid, nextTid, approval, forOldTID, sequence, positionX, positionY, name
    </sql>

</mapper>
