<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hk.culture.mini.program.mapping.ProcessallMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hk.culture.mini.program.entity.Processall">
        <id column="TID" property="tid" />
        <result column="startMan" property="startMan" />
        <result column="processGroup" property="processGroup" />
        <result column="startTime" property="startTime" />
        <result column="remarks" property="remarks" />
        <result column="state" property="state" />
        <result column="dep" property="dep" />
        <result column="title" property="title" />
        <result column="endTime" property="endTime" />
        <result column="lastOperator" property="lastOperator" />
        <result column="lastApproval" property="lastApproval" />
        <result column="forOldTid" property="forOldTid" />
        <result column="projectTid" property="projectTid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        TID, startMan, processGroup, startTime, remarks, state, dep, title, endTime, lastOperator, lastApproval, forOldTid, projectTid
    </sql>

</mapper>
