<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hk.culture.mini.program.mapping.VenuesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hk.culture.mini.program.entity.Venues">
        <id column="TID" property="tid" />
        <result column="name" property="name" />
        <result column="number" property="number" />
        <result column="address" property="address" />
        <result column="detail" property="detail" />
        <result column="startTime" property="startTime" />
        <result column="endTime" property="endTime" />
        <result column="allCount" property="allCount" />
        <result column="state" property="state" />
        <result column="hourCost" property="hourCost" />
        <result column="image" property="image" />
        <result column="video" property="video" />
        <result column="category" property="category" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        TID, name, number, address, detail, startTime, endTime, allCount, state, hourCost, image, video, category
    </sql>

</mapper>
