<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hk.culture.mini.program.mapping.VenuesbookMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hk.culture.mini.program.entity.Venuesbook">
        <id column="TID" property="tid" />
        <result column="venuesTid" property="venuesTid" />
        <result column="booktime" property="booktime" />
        <result column="activityTid" property="activityTid" />
        <result column="activityName" property="activityName" />
        <result column="venuesName" property="venuesName" />
        <result column="responsible" property="responsible" />
        <result column="responsiblePhone" property="responsiblePhone" />
        <result column="hourCost" property="hourCost" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        TID, venuesTid, booktime, activityTid, activityName, venuesName, responsible, responsiblePhone, hourCost
    </sql>

</mapper>
