<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hk.culture.mini.program.mapping.VolunteerworkMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hk.culture.mini.program.entity.Volunteerwork">
        <id column="TID" property="tid" />
        <result column="activityTid" property="activityTid" />
        <result column="volunteerTid" property="volunteerTid" />
        <result column="volunteerName" property="volunteerName" />
        <result column="volunteerPhone" property="volunteerPhone" />
        <result column="depot" property="depot" />
        <result column="startTime" property="startTime" />
        <result column="endTime" property="endTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        TID, activityTid, volunteerTid, volunteerName, volunteerPhone, depot, startTime, endTime
    </sql>

</mapper>
