<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hk.culture.mini.program.mapping.VotestoreMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hk.culture.mini.program.entity.Votestore">
        <id column="TID" property="tid" />
        <result column="name" property="name" />
        <result column="sequence" property="sequence" />
        <result column="question" property="question" />
        <result column="answer" property="answer" />
        <result column="voteTitle" property="voteTitle" />
        <result column="startTime" property="startTime" />
        <result column="startMan" property="startMan" />
        <result column="type" property="type" />
        <result column="state" property="state" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        TID, name, sequence, question, answer, voteTitle, startTime, startMan, type, state
    </sql>

</mapper>
