<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hk.culture.mini.program.mapping.VotetableMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hk.culture.mini.program.entity.Votetable">
        <id column="TID" property="tid" />
        <result column="questionTid" property="questionTid" />
        <result column="answer" property="answer" />
        <result column="userTid" property="userTid" />
        <result column="userName" property="userName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        TID, questionTid, answer, userTid, userName
    </sql>

</mapper>
